<h1 ng-init="initiateController()">Content from MVC partial page</h1>
<hr />
<p>Template loaded from cshtml page on request</p>
<br />
<strong>Delayed static result 1: </strong><div>{{staticResult1}}</div>
<strong>Delayed static result 1: </strong><div>{{staticResult2}}</div>

<hr />
<div buttons></div>
